#hoso{
    width: 100%;
    height: 600px;
}
h2{
    text-align: center;

}
table{
    width: 100%;
    font-size: 20px;
}
table tr .row-1{
    width: 300px;
}
table tr td{
    height: 60px;
    line-height: 60px;
    text-align: left;
}